.circular-menu {
  position: fixed;
  top: 50%;
  right: 0em;
  z-index: 1;
}

.circular-menu:after {
  display: block;
  content: " ";
  width: 6.5em;
  height: 6.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  border: 1px dotted grey;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: 0.4em;
  right: 1.2em;
  z-index: 1;
  display: block;
  background: #171717;
  width: 6.3em;
  height: 7.5em;
  cursor: pointer;
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(0.1em, -17em, 0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-11.5em, -12.3em, 0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-16.5em, 0em, 0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-10.5em, 11.3em, 0);
}
.circular-menu.active .menu-item:nth-child(5) {
  transform: translate3d(-0.1em, 15em, 0);
}
